.subscribe-button{
  background-color: rgb(222, 0, 0);
  color: antiquewhite;
  border: none;
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;

  border-radius: 3px;
  cursor: pointer;
  margin-right: 12px;
  transition: opacity 0.15s;
  
  vertical-align: top;
}
.subscribe-button:hover{
  opacity: 0.6;
}
.subscribe-button:active{
  opacity: 0.4;
}

.join-button{
  background-color: whitesmoke;
  border-color: rgb(6, 93, 180);
  border-style: solid;
  border-width: 1px;
  color:rgb(6, 93, 180) ;

  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;

  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s,
    color 0.3s;
  
}
.join-button:hover{
  background-color: rgb(6, 93, 180);
  color: whitesmoke;
  
}
.join-button:active{
  opacity: 0.6;
  
}

.tweet-button{
  background-color: rgb(11, 102, 199);
  color: whitesmoke;
  border: none;
  height: 36px;
  width: 70px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-left: 12px;
  transition: box-shadow 0.3s;
  vertical-align: top;
}
.tweet-button:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}